<section class="personal-content"
         fxLayout
         fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%"
            fxFlex="800px"
            class="mat-elevation-z8">
    <mat-card-content fxLayout="column"
                      fxLayoutAlign="center center"
                      class="card-content spacing">
      <img src='assets/img/profile.png'
           class='card-img-top'
           alt="profile-picture">
      <h2>Front End Developer</h2>
      <h1>Ignacio Casal</h1>

      <!--<div class="user-info-item">
        <span>Email:</span>
        mymail@mail.com
      </div>-->

      <div class="user-info-item">
        <span>Skills:</span>
        <mat-chip-list>
          <mat-chip color="primary">Angular</mat-chip>
          <mat-chip color="primary">React</mat-chip>
          <mat-chip color="primary">Javascript</mat-chip>
          <mat-chip color="primary">Typescript</mat-chip>
          <mat-chip color="primary">Scrum</mat-chip>
          <mat-chip color="primary">Git</mat-chip>
          <mat-chip color="primary">Firebase</mat-chip>
        </mat-chip-list>
      </div>

      <div class="user-info-item">
        <span>Hobbies:</span>
        <mat-chip-list>
          <mat-chip color="primary">Read</mat-chip>
          <mat-chip color="primary">Out with friends</mat-chip>
          <mat-chip color="primary">Listen to music</mat-chip>
          <mat-chip color="primary">Draw</mat-chip>
          <mat-chip color="primary">Learn new things</mat-chip>
        </mat-chip-list>
      </div>

    </mat-card-content>
  </mat-card>
</section>
